header{
	height: 350px;
	width: 1060px;
}
div.cover{

	position:absolute;
	z-index:-1;
}

.profileT {
	text-shadow: 2px 2px #000000;
	color: #FFFFA3
;
	font-family: 'Merienda One', cursive;
}


body{
	background-image:url('images/bg.jpg');
}

nav{
	background-color: #000000;
	opacity: 0.6;
	font-size: 20px;
	height: 24px;
	width: 1060px;
	font-family: 'Dancing Script', cursive;
	top:10px;
	position: relative;

}


h1{
	font-family:'Limelight', cursive;
	color: orange;
}

h1 span{
	color: #000000;
	text-shadow:1px 1px white;
}

a:link{
	font-family:'Dancing Script', cursive;
	color: purple;
}
a:hover{
	color:#FE2E9A;
}
div.profileP{
	position:relative;
	float: left;
	margin-left: 60px;
	top: 180px;
	z-index:-1;
}

.ProfileN{
	width: 380px;
	position: absolute;
	top:130px;
	right:580px;
	background:transparent;
	margin-top:50px;
	
	
	}

#friends{
	height: 200px;
	width: 200px;
}
#school{
	height:250px;
	width: 380px;
	margin:auto;
}

td{
	font-family: 'Audiowide', cursive;
	text-shadow:0.5px 1px #F5DA81
}

div.info{
	width: 1060px;
	height: 1200px;
	position: relative;
	top: 10px;
	padding-top: 10px;
}

p{
	text-align: left;
	word-wrap: break-word;
	margin-left: 20px;
	color: white;
}

p.hobby{
	text-align: center;
	color: white;
}

div.about{
	background-image: url('images/bg-about.jpg');
	height:1152px;
	width:400px;
	float:left;
	opacity: 1.0;
}

h2.head{
	text-align: left;
	color:#FACC2E;
	margin-left: 10px;
}

h3{
	line-height: 10%;
	color: white;
}
h4{
	color: white;
}

div.frd{
	background-image: url('images/frd-bg.jpg');
	height:580px;
	width:640px;
	float:right;
}
div.photo {
	background-image: url('images/frd-bg.jpg');
	width: 640px;
	height: 540px;
	position: relative;
	background-position: bottom;
	margin-top: 20px;
	padding-top: 15px;
	padding-right:0px;
	padding-left: 0px;
	margin-bottom:10px;
	margin-right:0px;
	float:right;
	}
div.gallery {

	position: relative;
	float: right;
	width: 100%;
	margin-top:30px;
	margin-bottom:20px;
	

	}
img.photo{
	height: 250;
	width: 500;
}

footer{
	margin-top: 0px;
	color: white;
	background-color: #424242;
	clear: both;
}